<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpressConstraintsTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC2A31302030D1370040BF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2A31442030D1370040BF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2A314F2030D1370040BF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
